!!! html
%html
  %head
    %title Futurenotes
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    %body

      #header
        #logo=link_to 'FutureNotes', '/'
        
        #about
          =link_to 'About', '/about'
          
        -if current_user.nil?
          #login
            =link_to 'Login', new_user_session_path
        -else
          #logout
            =link_to 'Logout', destroy_user_session_path
        
      %p.notice= notice
      %p.alert= alert

      = yield

      #footer
        #about
          =link_to 'About', '/about'
        #tos
          =link_to 'Terms of Service', '/tos'
        #contact
        
        &copy; Ryan Michael

