!!! html
%html
  %head
    %title Futurenotes
    = stylesheet_link_tag    "application", {:class => :cssfx }
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{ :href => 'http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Sorts+Mill+Goudy|Lora|Coustard|Arimo|Droid+Sans+Mono|Rokkitt:400,700|Josefin+Slab|Terminal+Dosis',:rel => 'stylesheet', :type => 'text/css' }
    
    
    %body

      #header
        .left
          -if current_user.nil?
            #logo=link_to 'FutureNotes', '/'
          -else
            #logo
              =link_to 'FutureNotes', user_path(current_user)

          #search_bar
            =form_tag '/search', :method => 'get' do
              =label_tag :q, 'Search for:'
              =text_field_tag :q, {}, {:type => :search, :results => 10, :class => :placeholder, :placeholder => 'Search'}
              =submit_tag 'Search'
            
        .right                   
          -if current_user.nil?
            #user_options
              =link_to 'Login', new_user_session_path
              
            #add_note
              %button{:type => :button}=link_to 'Add Note', new_user_session_path
          -else
            #user_options.active
              #user_name
                =link_to current_user.email, current_user
              
              #user_actions
                =link_to raw('&rarr; Change Password'), edit_user_registration_path
                %br
                =link_to raw('&rarr; Logout'), destroy_user_session_path
                  
            #add_note
              %button{:type => :button}=link_to 'Add Note', new_note_path  

        
        %p.notice= notice
        %p.alert= alert

      #content
        = yield

      #footer
        #about
          =link_to 'About', '/about'
        &#149;
        #tos
          =link_to 'Terms of Service', '/tos'
        &#149;
        #contact
      
        &copy; Ryan Michael

